/*==========  Volvo Broad  ==========*/
@font-face {
  font-family: 'Volvo Broad Small';
  src: url("../fonts/VolvoBroadSmallWeb.eot");
  src: url("../fonts/VolvoBroadSmallWeb.eot?#iefix") format('embedded-opentype'), url("../fonts/VolvoBroadSmallWeb.woff") format('woff'), url("../fonts/VolvoBroadSmallWeb.ttf") format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Volvo Broad Medium';
  src: url("../fonts/VolvoBroadMediumWeb.eot");
  src: url("../fonts/VolvoBroadMediumWeb.eot?#iefix") format('embedded-opentype'), url("../fonts/VolvoBroadMediumWeb.woff") format('woff'), url("../fonts/VolvoBroadMediumWeb.ttf") format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Volvo Broad';
  src: url("../fonts/VolvoBroadWeb.eot");
  src: url("../fonts/VolvoBroadWeb.eot?#iefix") format('embedded-opentype'), url("../fonts/VolvoBroadWeb.woff") format('woff'), url("../fonts/VolvoBroadWeb.ttf") format('truetype');
  font-weight: normal;
  font-style: normal; }

/*==========  Volvo Sans Pro  ==========*/
@font-face {
  font-family: 'Volvo Sans Light';
  src: url("../fonts/VolvoSansWeb-Light.eot");
  src: url("../fonts/VolvoSansWeb-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/VolvoSansWeb-Light.woff") format('woff'), url("../fonts/VolvoSansWeb-Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Volvo Sans Medium';
  src: url("../fonts/VolvoSansWeb-Medium.eot");
  src: url("../fonts/VolvoSansWeb-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/VolvoSansWeb-Medium.woff") format('woff'), url("../fonts/VolvoSansWeb-Medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Volvo Sans Regular';
  src: url("../fonts/VolvoSansWeb-Regular.eot");
  src: url("../fonts/VolvoSansWeb-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/VolvoSansWeb-Regular.woff") format('woff'), url("../fonts/VolvoSansWeb-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Volvo Sans Bold';
  src: url("../fonts/VolvoSansWeb-Bold.eot");
  src: url("../fonts/VolvoSansWeb-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/VolvoSansWeb-Bold.woff") format('woff'), url("../fonts/VolvoSansWeb-Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Volvo Sans Super';
  src: url("../fonts/VolvoSansWeb-Super.eot");
  src: url("../fonts/VolvoSansWeb-Super.eot?#iefix") format('embedded-opentype'), url("../fonts/VolvoSansWeb-Super.woff") format('woff'), url("../fonts/VolvoSansWeb-Super.ttf") format('truetype');
  font-weight: normal;
  font-style: normal; }

/*==========  Volvo Sans Serif  ==========*/
@font-face {
  font-family: 'Volvo Serif Italic';
  src: url("../fonts/VolvoSerifWeb-Italic.eot");
  src: url("../fonts/VolvoSerifWeb-Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/VolvoSerifWeb-Italic.woff") format('woff'), url("../fonts/VolvoSerifWeb-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Volvo Serif Bold Italic';
  src: url("../fonts/VolvoSerifWeb-BoldItalic.eot");
  src: url("../fonts/VolvoSerifWeb-BoldItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/VolvoSerifWeb-BoldItalic.woff") format('woff'), url("../fonts/VolvoSerifWeb-BoldItalic.ttf") format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Volvo Serif Bold';
  src: url("../fonts/VolvoSerifWeb-Bold.eot");
  src: url("../fonts/VolvoSerifWeb-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/VolvoSerifWeb-Bold.woff") format('woff'), url("../fonts/VolvoSerifWeb-Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Volvo Serif Regular';
  src: url("../fonts/VolvoSerifWeb-Regular.eot");
  src: url("../fonts/VolvoSerifWeb-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/VolvoSerifWeb-Regular.woff") format('woff'), url("../fonts/VolvoSerifWeb-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal; }

/*==========  Volvo Icons  ==========*/
@font-face {
  font-family: "volvo-icons";
  src: url("../fonts/volvo-icons.eot");
  src: url("../fonts/volvo-icons.eot#iefix") format("embedded-opentype"), url("../fonts/volvo-icons.woff") format("woff"), url("../fonts/volvo-icons.ttf") format("truetype"),;
  font-weight: normal;
  font-style: normal; }

.icon, .subnav-select:before {
  font-family: 'volvo-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e01e"; }

.icon-menu:before {
  content: "\e017"; }

.icon-facebook:before {
  content: "\e00b"; }

.icon-twitter:before {
  content: "\e020"; }

.icon-youtube:before {
  content: "\e023"; }

.icon-googleplus:before {
  content: "\e00e"; }

.icon-instagram:before {
  content: "\e00f"; }

.icon-globe:before {
  content: "\e00d"; }

.icon-mail:before {
  content: "\e013"; }

.icon-map:before {
  content: "\e014"; }

.icon-minus:before {
  content: "\e018"; }

.icon-plus:before {
  content: "\e01a"; }

.icon-close:before {
  content: "\e009"; }

.icon-clock:before, .icon-schedule_service:before {
  content: "\e008"; }

.icon-angle-up:before {
  content: "\e003"; }

.icon-angle-down:before {
  content: "\e000"; }

.icon-angle-left:before {
  content: "\e001"; }

.icon-angle-right:before {
  content: "\e002"; }

.icon-compass:before {
  content: "\e00a"; }

.icon-requestquote:before {
  content: "\e01d"; }

.icon-steeringwheel:before, .icon-df:before {
  content: "\e01f"; }

.icon-website:before {
  content: "\e022"; }

.icon-marker:before {
  content: "\e016"; }

.icon-map-alternate:before {
  content: "\e015"; }

.icon-list:before {
  content: "\e011"; }

.icon-pinterest:before {
  content: "\e019"; }

.icon-circle:before {
  content: "\e007"; }

.icon-plus_circle:before {
  content: "\e01b"; }

.icon-checkmark:before {
  content: "\e006"; }

.icon-car:before, .icon-new_car_inventory:before {
  content: "\e005"; }

.icon-requestaquote:before, .icon-local_offers:before {
  content: "\e01c"; }

.icon-globe-blue:before {
  content: "\e00d";
  color: #bdd6e6; }